
@font-face {
    font-family: "Emblema One";
    src: url("/fonts/EmblemaOne-Regular.woff")}

@media screen and (min-device-width: 481px) {
    #clickimage {margin-right: 200px;}
}
@media screen and (max-device-width: 480px) {
    #clickimage {margin-right: 30px;}
}
@media print {
    body {font-family: Times, "Times New Roman", serif;}
}

body {background-color: #fffcbf; font-family: Verdana, Helvetica, Arial, sans-serif;
        font-size: small; line-height: 1.6em;}
p.welcome {color: black;}
p.seattle {color: black;}
p.england {color: black;}
h1, h2 {color: rgb(70, 70, 70); font-family: "Emblema One", Verdana, Geneva, sans-serif;
        text-decoration: underline;
        /*border-bottom: thin dotted #888888;*/
}
h1 {font-size: 200%;}
h2 {font-size: 150%; font-weight: bold;}
blockquote {font-style: italic;}
#logo {border-bottom: 2px solid black;
        margin-left: 5px;
        margin-right: 20px;
}

#clickimage {
    border-color: black;
    border-width: 7px;
    border-style: double;
    border-radius: 0px;
    border-top-right-radius: 100px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 100px;
    background-color: #7e7a51;
    padding: 25px;
    padding-left: 95px;
    /*margin: 30px;
    margin-inline-start: 100px;
    margin-inline-end: 700px;*/
    background-image: url(/images/background.gif);
    background-repeat: no-repeat;
    background-position: top left;
    background-position-x: 1.5%;
    max-width: 400px;
}
.ipodimages{
    border-radius: 25px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

#footer {font-family: Verdana, Helvetica, Arial, sans-serif; font-size: small; color: black;}