body { 
  background-color: #c7b181;
  font-family:      Georgia, "Times New Roman", Times, serif;
  font-size:        small;
  margin:           0px;
}
h1 {
  font-size:        135%;
  color:            #954b4b;
}

/*#allcontent {
  width: 800px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #675c47;
  margin-left: auto;
  margin-right: auto;
}*/

div#tableContainer {
  display: table;
  border-spacing: 10px

}

div#tableRow{
  display: table-row;
  
}

.headerTop {
  background-color:#47391e;
  margin:           10px 10px 0px 10px;
  height:           108px;
  border-radius: 30px;
}

#headerLogo {
  float: left;
}
#headerSlogan { 
  float: right;
}

nav {
  background-color: #efe5d0;
  margin: 10px 12px 0px 12px;
  border-radius: 10px;
}

nav ul {
  margin: 0px;
  list-style-type: none;
  text-align: left;
  padding: 5px 0px 5px 10px;
  
}


nav ul li {
  display: inline;
  padding: 0px 5px 0px 5px;
  
}

nav ul li a:link, nav ul li a:visited {
  border-bottom: none;
  font-weight: bold;
  color: #954b4b;
  
  }

#navBar a:hover {
  color: #d16868;
  text-decoration: underline;
  font-weight: bold;
  
}

nav ul li.selected {
  background-color: #e0b86d;
  font-weight: bold;
  border-radius: 10px;
  }

section#drinks{ 
  display: table-cell;
  background: #efe5d0 url(images/background.gif) top left;
  font-size: 105%;
  padding: 17px;
  vertical-align: top;
  text-align: center;
  border-radius: 30px;
  width: 20%;
}

section#main, section#blog {
  display: table-cell;
  background: #efe5d0 url(images/background.gif) top left;
  font-size: 105%;
  padding: 20px;
  vertical-align: top;
  text-align: center;
  border-radius: 30px;
}

aside {
  display: table-cell;
  background: #efe5d0 url(images/background.gif) bottom right;
  font-size: 105%;
  padding: 18px;
  vertical-align: top;
  text-align: center;
  border-radius: 30px;

}

footer {
  background-color: #47391e;
  color:            #efe5d0;
  text-align:       center;
  padding:          5px;
  margin:           0px 10px 10px 10px;
  font-size:        85%;
  border-radius:    30px;

}

#starbuzz_CEO {
  border-radius: 30px;
}

.slogan { color: #954b4b; }

.beanheading {
  text-align:       center;
  line-height:      1.8em;
}

a:link {
  color:            #c44d4d;
  text-decoration:  none;
}
a:visited {
  color:            rgb(133, 64, 133);
  text-decoration:  none;
}
a:hover {
  color:           teal;
  text-decoration:  underline;
}

.zoom {
  transition: transform 0.15s; /* Animation */
}
.zoom:hover {
  transform: scale(1.07); /* (7% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
#drinks p {
  transition: transform 0.10s; /* Animation */
}
#drinks p:hover {
  transform: scale(1.10); /* (10% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
#main p {
  transition: transform 0.10s; /* Animation */
}
#main p:hover {
  transform: scale(1.05); /* (5% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
aside p, #blog p {
  transition: transform 0.10s; /* Animation */
}
aside p:hover, #blog p:hover {
  transform: scale(1.05); /* (5% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
