body { 
  background-color: #c7b181;
  font-family:      Georgia, "Times New Roman", Times, serif;
  font-size:        small;
  margin:           0px;
}
h1 {
  font-size:        135%;
  color:            #954b4b;
}

#header {
  background-color:#47391e;
  margin:           10px;
  height:           108px;
  border-radius: 30px;
}

#main {
  background:     #efe5d0 url(images/background.gif) top left;
  font-size:        105%;
  padding:          18px;
  margin:           0px 10px 10px 10px;
  border-radius: 30px;
  width: 400px;
  float: left;
}

#sidebar {
  background:       #efe5d0 url(images/background.gif) bottom right;
  font-size:        105%;
  padding:          15px;
  margin:           10px 10px 0px 460px;
  text-align: center;
  border-radius: 30px;
  height: 620px;

}

#footer {
  background-color: #47391e;
  color:            #efe5d0;
  text-align:       center;
  padding:          10px;
  margin:           10px;
  font-size:        85%;
  border-radius: 30px;
  clear: left;
}

#allcontent {
  width: 800px;
  padding: 5px 0px 41px 0px;
  background-color: #675c47;
  margin-left: auto;
  margin-right: auto;

}

.slogan { color: #954b4b; }

.beanheading {
  text-align:       center;
  line-height:      1.8em;
}

a:link {
  color:            #c44d4d;
  text-decoration:  none;
}
a:visited {
  color:            rgb(133, 64, 133);
  text-decoration:  none;
}
a:hover {
  color:           teal;
  text-decoration:  underline;
}

.zoom {
  transition: transform 0.25s; /* Animation */
}
.zoom:hover {
  transform: scale(1.12); /* (12% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
#main p {
  transition: transform 0.10s; /* Animation */
}
#main p:hover {
  transform: scale(1.04); /* (4% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
#sidebar p {
  transition: transform 0.10s; /* Animation */
}
#sidebar p:hover {
  transform: scale(1.04); /* (4% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
#footer p {
  transition: transform 0.10s; /* Animation */
}
#footer p:hover {
  transform: scale(1.05); /* (4% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}